{% extends 'account/base.html' %}

{% block title %}
<title> Login </title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron" style="width:45%">
        <h1 style="text-align:center">Login</h1>
        <br><br>
        <form method="post">
            {% csrf_token %}
            <label for="uname">Enter Username:</label>
            <input type="text" name="uname"><br><br>
            <label for="pw">Enter Password:</label>
            <input type="password" name="pw"><br><br>
            <input type="submit" value="Login" class="btn btn-success">
        </form>
        <a href="{% url 'password_reset' %}">Forget Password?</a>
        <br>
        {% for msg in messages %}
        <p style="color:red">{{msg}}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}